<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/sample.css">
    <title>tarot_sample1</title>
    <div class="container">
        <div class="header">
            <a href="../../index.html">
                <img src="../../resources/header/LOGO.svg" alt="Tarot-Logo">
            </a>
        </div>
        <section class="Main_Con">
                <article class="Main_contents">
                    <div class="contain">
                        <div class="title">
                            <h1>SAMPLE TITLE</h1>
                            <div class="T_line"></div>
                        </div>
                        
                        <div class="sub_deco"></div>

                        <div class="sample_box">
                            <swiper-container class="mySwiper" pagination="true" pagination-type="fraction">
                                <swiper-slide>Slide 1</swiper-slide>
                                <swiper-slide>Slide 2</swiper-slide>
                                <swiper-slide>Slide 3</swiper-slide>
                                <swiper-slide>Slide 4</swiper-slide>
                                <swiper-slide>Slide 5</swiper-slide>
                                <swiper-slide>Slide 6</swiper-slide>
                                <swiper-slide>Slide 7</swiper-slide>
                                <swiper-slide>Slide 8</swiper-slide>
                                <swiper-slide>Slide 9</swiper-slide>
                            </swiper-container>
                            
                            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
                        </div>
                    </div>
                </article>

        <nav>
            <h1>Tarot</h1>
            
            <ul>
                <a href="../notice.html"><li>통합 공지</li></a>
                <a href="../info.html"><li>소개</li></a>
                <a href="https://docs.google.com/spreadsheets/d/1TGl-SMBl4lXHCx-hfvh7UTQt386V8yX6jeEAXoihJCg/edit?usp=sharing" target="_blank"><li>예약 현황</li></a>
                <a href="../sample_list.html"><li><strong style="color: #000;">타입별 샘플</strong></li></a>
            </ul>

            <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:235px;height:75px;"src="https://www.clocklink.com/html5embed.php?clock=038&timezone=KoreaDemocraticPeoplesRepublicof_Pyongyang&color=black&size=300&Title=&Message=&Target=&From=2024,1,1,0,0,0&Color=black"></iframe>

        </nav>
    </section>
</div>
<footer>Copyright 2024. HiYa All pictures cannot be copied without permission.</footer>
<body>
    
</body>
</html>