<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/sample_list.css">
    <link rel="stylesheet" href="../css/common.css">

    <title>Sample_List</title>
</head>
<body>
    <div class="container">
            <div class="header">
                <a href="../index.html">
                    <img src="../resources/header/LOGO.svg" alt="Tarot-Logo">
                </a>
            </div>
            <section class="Main_Con">
                    <article class="Main_contents">
                        <div class="contain">
                            <div class="title">
                                <h1>TYPESAMPLE</h1>
                                <div class="T_line"></div>
                            </div>
                            
                            <h1>타입별 샘플</h1>

                            <div class="sub_deco"></div>

                            <div class="sample_list">
                                <p>＊＊</p>
                                <div class="sam_title">
                                    <h1>타입 목록</h1>
                                    <img src="../resources/sample_list/Type List.svg" alt="Reader">
                                </div>

                                <div class="list_wrap">
                                    <div class="list_title">
                                        <ul>
                                            <li class="num">목록</li>
                                            <li class="type">타입</li>
                                            <li class="modification">최종 수정 날짜</li>
                                            <li class="registration">등록일</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">1</li>
                                            <a href="sample/sample_1.html"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">2</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">3</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">4</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">5</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">6</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">7</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">8</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">9</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">10</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">11</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">12</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">13</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">14</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                    <div class="list_content">
                                        <ul>
                                            <li class="num">15</li>
                                            <a href="#"><li class="type">오늘 하루를 위한 3점 타로</li></a>
                                            <li class="modification">2024.03.26</li>
                                            <li class="registration">2024.03.26</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
        
                    </article>
     
                    <nav>
                        <h1>Tarot</h1>
                        
                        <ul>
                            <a href="notice.html"><li>통합 공지</li></a>
                            <a href="info.html"><li>소개</li></a>
                            <a href="https://docs.google.com/spreadsheets/d/1TGl-SMBl4lXHCx-hfvh7UTQt386V8yX6jeEAXoihJCg/edit?usp=sharing" target="_blank"><li>예약 현황</li></a>
                            <a href="sample_list.html"><strong style="color: #000;"><li>타입별 샘플</li></strong></a>
                        </ul>
        
                        <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:235px;height:75px;"src="https://www.clocklink.com/html5embed.php?clock=038&timezone=KoreaDemocraticPeoplesRepublicof_Pyongyang&color=black&size=300&Title=&Message=&Target=&From=2024,1,1,0,0,0&Color=black"></iframe>
        
                    </nav>
            </section>
    </div>
    <footer>Copyright 2024. HiYa All pictures cannot be copied without permission.</footer>
    
</body>
</html>